.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  gap: 1rem;
  margin-top: 10px;
}

.video_text {
  margin: 5px 5px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

.container_buttons {
  display: flex;
  gap: 2rem;
}

.empty {
  width: 250px;
  height: 180px;
  background-color: #b0b0b0;
}

.video_container,
.gif_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  border: 3px solid #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.25);
}
.video_container {
  background-color: #c1d889;
}
.gif_container {
  background-color: #d2a080;
}

.video_box,
.empty {
  margin-top: 20px;
  border: 2px solid #fff;
  border-radius: 1.25rem;
}
.fileUpload {
  position: relative;
  width: 80px;
  background-color: #d2a080;
}
.fileUpload:hover,
.download_gif:hover {
  filter: contrast(0.8);
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.download_gif,
.fileUpload span {
  cursor: pointer;
}
.download_gif,
.fileUpload {
  overflow: hidden;
  padding: 6px;
  margin: auto 0 20px 0;
  border: 1px solid #fff;
  color: #000;
  border-radius: 0.75rem;
}
.download_gif {
  background-color: #c1d889;
  width: 120px;
}
